/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Reset CSS */
* {
    margin: 0;
}

body {
    background: linear-gradient(to right, #07263A, #398D9F);
    font-family: 'Poppins', sans-serif;
    color: #E4EAEC;
}
/* Navigation */
.navigation-container {
    background: linear-gradient(to right, #07182A, #2F6378);
    height: 33%;
    display: flex;
    align-items: center;
    color: #A9BBC3;
}

.home-page-nav-bar {
    width: 80vw;
}

.navigation-container ul {
    display: flex;
    align-items: center;
}

.navigation-container ul li {
    list-style: none;
    float: left;
    padding-left: 2vw; 
    font-size: 2.5vh;
}

.navigation-container ul li a {
    text-decoration: none;
    color: #A9BBC3;
}

.home-page-logo {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-contact {
    width: 15vw;
}


/* Container One */
.container-one {
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav-upload-xray-text {
    font-size: 2.5vh;
    padding-right: 25vw;
}
.body-container {
    position: relative;
    height: 82vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(to right, #021B2F, #356F86);
    background-size: contain;
    background-repeat: no-repeat;
}

.body-container::before,
.body-container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.body-container::before {
    left: 0;
    background-image: url('Assets/LineDesigns.png');
    z-index: 2; 
}

.body-container::after {
    bottom: 0;
    background-image: url('Assets/Skeleton.png');
    z-index: 1; 
}


/* Container Two */
.container-two {
    height: 91%;
    width: 45%;
}







.home-content-container {
    
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.drag-file-container{
    padding-top: 5%;
    width: 98.5%;
    font-size: 1.75vh;
    z-index: 3;
}
.drag-file-container img{
    width: 13.6%;

}



/* Drag and Drop Area */
#drop-area {
    background: linear-gradient(to right, #051D30, #152E49);
    width: 95%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#file-list {
    margin-top: 20px;
}

/* Additional Styling */
.upload-file-more-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 15vh;
    font-size: 1.5vh;
}
.upload-file-more-info p {
    width: 70%;
    padding-right: 2.5vw;
}
.upload-file-more-info button {
    background: #16EBE2;
    height: 5vh;
    width: 5vw;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 1.5vh;
}
.home-page-scan-button {
    width: 15vw;
    height: 5vh;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background: #16EBE2;
}
